
$primary-text-color: rgba(85, 85, 85, 1);
$title-text-color:  rgba(48, 48, 48, 1);
$accent-text-color: rgba(255, 108, 0, 1);
$primary-bg-color: #fff;
$primary-white-color: rgba(255, 255, 255, 1);
$primary-white-text-color: rgba(157, 164, 189, 1);
$color-gray-footer: rgba(157, 164, 189, 1);
// $color-whitegrey-f5f4: #F5F4FA;
// $color-blacklight-2f30: #2F303A;
// $color-white-rich: #ECECEC;
// $color-hover-button: #188CE8;
// $color-white-transparent: rgba(255, 255, 255, 0.6);
$primary-font: 'Open Sans', 'Raleway', sans-serif;
$primary-font-size: 14px;
$primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);